.consulo/
.gradle/
.utmp/
.vs/
*.aab
*.apk
*.app
*.blend1
*.blend1.meta
*.booproj
*.csproj
*.DotSettings.user
*.log
*.mdb
*.mdb.meta
*.opendb
*.pdb
*.pdb.meta
*.pidb
*.pidb.meta
*.sln
*.suo
*.svd
*.tmp
*.unitypackage
*.unitypackage.meta
*.unityproj
*.user
*.userprefs
*.VC.db
*.vsconfig
/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*
/[Aa]ssets/AddressableAssetsData/*/*.bin*
/[Aa]ssets/AddressableAssetsData/link.xml*
/[Aa]ssets/Addressables_Temp*
/[Aa]ssets/Plugins/Editor/JetBrains*
/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
Build/
Builds/
Library/
Logs/
/[Mm]emoryCaptures/
obj/
/[Rr]ecordings/
Temp/
/[Uu]ser[Ss]ettings/
/ServerData
crashlytics-build.properties
ExportedObj/
InitTestScene*.unity*
obj/
mono_crash.*
sysinfo.txt